<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#4d42e9" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <meta name="description" content="Kumpulan berita Indonesia dari berbagai sumber">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <title>Porbantas - Portal Berita Tanpa Batas</title>
</head>

<body>
  <header>
      <app-bar></app-bar>
  </header>
  <banner-app></banner-app>
  <main>
      <section id="mainContent" class="flex-container"></section>

      <div class="source-news bg-light text-center text-dark mt-3">
        <h2 class="source-header">Sumber Berita</h2>
        <div class="row justify-content-center">
          <div class="col-2">
            <a href="https://www.kompas.com/" target="_blank"><img src="source-logo/kompas.com.png" alt="kompas.com" height="150"></a>
          </div>
          <div class="col-2">
            <a href="https://www.detik.com/" target="_blank"><img src="source-logo/detikcom.png" alt="detikcom" height="150"></a>
          </div>
          <div class="col-2">
            <a href="https://www.cnnindonesia.com/" target="_blank"><img src="source-logo/CNN_Indonesia.png" alt="CNNindonesia" height="150"></a>
          </div>
          <div class="col-2">
            <a href="https://www.cnbcindonesia.com/" target="_blank"><img src="source-logo/CNBC_Indonesia.png" alt="CNBCindonesia" height="150"></a>
          </div>
        </div>
      </div>

  </main>
  <footer>
      <p>All data obtained from <a href="https://newsapi.org/s/indonesia-news-api" target="_blank" rel="noreferrer">News API - Live top headlines</a></p>
  </footer>
</body>
</html>